<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag "/users/user_info.css" %>
  </head>

  <body>
    <div class="container">
        <div class="user-info">
            <%=image_tag(@user.photo, class: 'profile-photo')%>

            <div class="user-details">
                <h3><%=@user.name%></h3>
                <p>Number of post: <%=@user.posts_count%></p>
            </div>
        </div>

        <div class="bio">
        <h3>Bio</h3>
            <%=@user.bio%>
        </div>

        <ul class="post-list">
          <%@user.posts.each do |post|%>
          <li>
            <h3><%=post.title%></h3>
            <p>
              <%=post.text%>
            </p>
            <p class='likes-coomments'>Comments: <%=post.comments_count%>, Likes: <%=post.likes.count%></p>
          </li>
          <%end%>
          <%="#{@user.name} has no any post" unless !@user.posts.empty?%>
        </ul>
        <%=button_to "See all posts", "/users/#{@user.id}/posts", class: 'all-posts', method: 'get'%>
    </div>
  </body>
</html>
