<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag "/users/post_info.css" %>
  </head>

  <body>
    <div class="container">
        <div class="pos">
          <div class="post-info">
            <div>
                <h3><%="#{@post.title} by #{@post.author.name}"%></h3>
                <p class='likes-comments'>Comments: <%=@post.comments.count%>, Likes: <%=@post.likes.count%></p>
            </div>
            <p>
            <%=@post.text%>
            </p>
          </div>
          <div class="comments">
              <ul class="commens-list">
                  <li>
                      <p>Username: comment1</p>
                  </li>
                  <li>
                      <p>Username: comment2</p>
                  </li>
                  <li>
                      <p>Username: comment3</p>
                  </li>
                  <li>
                      <p>Username: comment4</p>
                  </li>
                  <li>
                      <p>Username: comment5</p>
                  </li>
                  <li>
                      <p>Username: comment6</p>
                  </li>
                  <li>
                      <p>Username: comment7</p>
                  </li>
                  <li>
                      <p>Username: comment8</p>
                  </li>
                  <li>
                      <p>Username: comment9</p>
                  </li>
                  <li>
                      <p>Username: comment10</p>
                  </li>
              </ul>
          </div>
        </div>
    </div>
  </body>
</html>
